@font-face {
  font-family: mario-font;
  src: url(mario-font.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: mario-font;
  
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  background: linear-gradient(to right, rgb(252, 6, 6), rgb(248, 252, 4), rgb(255, 5, 5) 75%, rgb(247, 231, 3));
}

.calculator {
  width: auto;
  height: auto;
  box-shadow: 0 0 40px #000;
  border-radius: 10px;
  padding: 30px 20px;
}

#display {
  margin: 0 10px;
  height: 100px;
  width: auto;
  max-width: 270px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 30px;
  margin-bottom: 20px;
  border: 5px solid rgb(251, 255, 3);
  box-shadow: 0px 0px 9px rgba(255, 253, 253, 0.153);
}


button {
  height: 60px;
  width: 60px;
  border: 0;
  border-radius: 30px;
  margin: 5px;
  font-size: 30px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  transform: scale(1.15);
  transition: all .2s ease-in-out;
}

#backspace {
  font-size: 20px;
}

#equal {
  height: 130px;

}


.calculator {
  background-image: url(https://wallpapers.com/images/high/super-mario-wallpaper-super-mario-iphone-wallpaper-2odcx2b8k8717cjr.jpg)
}


.calculator #display {
  color: #eeff07;
}

.calculator #clear {
  background-color: #0632f8;
  color: #fa0824;
}

.calculator .btn-number {
  background-color: #ffee04;
  color: #070707;
  border:#def704;
}

.calculator button.btn-operator {
  background-color: #2a06f5;
  color: #f5081c;
}

.calculator button.btn-equal {
  background-color: #ffe606;
  color: #000;
  height: 150px;
}

img {
  width: 40px;
  height: 50px;
  position: relative;
  object-fit: contain;
  top: 2px;
}

.coin {
  position: absolute;
  width: 60px;
  height: 80px;
  border-radius: 50%;
  background-color: yellow;
  border: solid 1px black;
  animation-name: mario-coin;
  animation-duration: 0.5s;
}

@keyframes mario-coin {
  from {
   transform: rotateY(0deg) translateY(100px);
  }

  to {
    transform: rotateY(360deg) translateY(-20px);
  }
}